	<script src="js/try.js"></script>
	<div class="nav">
		<div class="sea" style="font-family:'iconfont'">&#xe604;</div>
		<div class="imp b">要闻</div>
		<div class="vid">视频</div>
		<div class="js">江苏</div>
		<div class="fin">财经</div>
		<div class="ent">娱乐</div>
		<div class="change" style="font-family:'iconfont'">&#xe60a;</div>
	</div>
	<div class="con">
	<!-- {{#each news_list}}
		{{#if cla}}
		<div class="news1">
			<div class="news1-span"><a href="http://127.0.0.1:3000/detailed" style="color:black">{{s}}</a>
			</div>
				<div class="t1">{{t}}</div>
			</div>
			<div class="news1-pic"><img src="{{im}}"></div>
		</div>
		{{else}}
		<div class="news2">
			<div class="news2-span"><a href="http://127.0.0.1:3000/detailed" style="color:black">{{s}}</a>
			</div>
			<div class="news2-pic"><img src="{{im}}"></div>
			<div class="t2">{{t}}</div>
		</div>
		{{/if}}
	{{/each}} -->
	</div>
	<div class="bot">
		<div class="news">
			<div class="news_icon h"  style="font-family:'iconfont'">&#xe608;</div>
			<div class="news_ h">新闻</div>
		</div>
		<div class="intr">
			<div class="intr_icon"  style="font-family:'iconfont'">&#xe602;</div>
			<div class="intr_"><a href="http://127.0.0.1:3000/index">推荐</a></div>
		</div>
		<div class="cctv">
			<div class="cctv_icon"  style="font-family:'iconfont'">&#xe67c;</div>
			<div class="cctv_"><a href="http://127.0.0.1:3000/index">直播</a></div>
		</div>
		<div class="mine">
			<div class="mine_icon"  style="font-family:'iconfont'">&#xe605;</div>
			<div class="mine_"><a href="http://127.0.0.1:3000/mine">我的</a></div>
		</div>
	</div>

	<div class="all">
		<div class="sea-top">
			<div class="sea-con">
				<div class="sea-inp"><div class="seac" style="font-family:'iconfont'">&#xe604;</div><input type="text" placeholder="搜索感兴趣的内容"></div> <!-- 搜索图标和input框分开写，后面点击搜索用 -->
				<div class="closed1">×</div>
				<!-- <div class="sea-inp"><input type="text" placeholder="搜索感兴趣的内容"></div> -->
			</div>
		</div>
		<div class="con-m">

		</div>
		<div class="hot-tit">
			<div class="fire" style="font-family:'iconfont'">&#xe67d;</div>
			<div class="fire-s">今日热点</div>
		</div>
		<div class="hot-news1">
			<div class="hot-num1">1.</div>
			<div class="hot-news1-s">
				<div class="hot-s">威海校车事故司机纵火</div>
				<div class="hot" style="font-family:'iconfont'">&#xe661;</div>
			</div>
		</div>
		<div class="hot-news1">
			<div class="hot-num1">2.</div>
			<div class="hot-news1-s">
				<div class="hot-s">男子3脚踢坏亿年乳石</div>
				<div class="hot" style="font-family:'iconfont'">&#xe661;</div>
			</div>
		</div>
		<div class="hot-news1">
			<div class="hot-num1">3.</div>
			<div class="hot-news1-s">
				<div class="hot-s">美国推出巴黎协定</div>
				<div class="hot" style="font-family:'iconfont'">&#xe661;</div>
			</div>
		</div>
		<div class="hot-news1">
			<div class="hot-num1" style="color: black">4.</div>
			<div class="hot-news1-s">
				<div class="hot-s">那些关于高考的记忆</div>
			</div>
		</div>
		<div class="hot-news1">
			<div class="hot-num1" style="color: black">5.</div>
			<div class="hot-news1-s">
				<div class="hot-s">顺丰菜鸟互怼</div>
			</div>
		</div>
		<div class="hot-news1">
			<div class="hot-num1" style="color: black">6.</div>
			<div class="hot-news1-s">
				<div class="hot-s">郭碧婷素颜</div>
			</div>
		</div>
	</div>	